## Código Edición Personal:##

﻿@model Persona

<h2>Editar Persona</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.Nombre)
        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Edad)
        @Html.TextBoxFor(model => model.Edad, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-success">Guardar Cambios</button>
}

## Esta vista proporciona un formulario para editar la información de una persona, incluyendo su nombre y edad ## 
## permite editar los datos de una persona representada por el modelo Persona ##
